@font-face {
    font-family: "Roboto Light";
    src: url('/assets/Roboto-Light');
}
body {
    margin: 42px;
}

h1{
    font-family: "Roboto Light", "Arial Black", sans-serif;
}

p{
    font-family: 'Lucida Grande unicode', 'Lucida Sans Regular', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}